@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee --default;
}

@font-face {
  font-family: Shabnam;
  src: url("./assets/fonts/Shabnam.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: initial;
}

@theme {
  --font-shabnam: Shabnam, sans-serif;
}

:root {
  direction: rtl;
}

.hero-bg {
  background-image: url("/hero.webp");
  background-size: cover;
  background-position: center;
}
